<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="style.css">
	<link rel="stylesheet" type="text/css" href="Teal.css">
  <link href='http://fonts.googleapis.com/css?family=Raleway:100' rel='stylesheet' type='text/css'>
	<title>About | Anastasia Kolovani</title>
</head>
<body>
	<div class = "main-head">
		<h2 class = "title"><a class = "heading" href = "index.html.erb">Anastasia Kolovani</a></h2>
	</div>
	<div class = "grid">
  		<div class = "grid_col-12">
  			<center>
  			<nav class="navbar" role="navigation" style = "background-color: #48D0CC;">
          		<span id="toggle" class="icn--nav-toggle is-displayed-mobile">
            		<b class="srt">Toggle</b>
          		</span>
          		<ul class="nav is-collapsed-mobile">
            		<li class="nav__item"><a id = "a" href="index.html.erb">HOME</a></li>
                <li class="nav__item"><a id = "a" href="info.html.erb">ABOUT ME</a></li>
                <li class="nav__item"><a id = "a" href="www.sprinklesandpinkblush.blogspot.com">BLOG</a></li>
                <li class="nav__item"><a id = "a" href="portfolio.html.erb">PORTFOLIO</a></li>
          		</ul>
        	</nav> 
        	</center>    
  		</div>
  		<div class = "grid_col-12">
  			<h2 id = "large"> about ...</h2><br><br>
        <h2 id = "question"><strong> My Skills</strong></h2>
        <h2 id = "medium"> JavaScript<br>
        	HTML5<br>
        	CSS3<br>
        	jQuery<br>
        	Ruby on Rails<br>
        	Java<br>
        	Python</h2><br>
          <h2 id = "question"><strong>Classes I've Taken</strong></h2>
          <h2 id = "medium">Discrete Mathematics for Computer Science<br>
          	Algorithm Analysis and Computability<br>
          	Net-Centric Computing<br>
          	Software Engineering<br>
          	Object Oriented Programming<br>
          	Human Computer Interaction</h2><br>
          <h2 id = "question"><strong>Work Experience</strong></h2>
          <h2 id = "medium">Front End Development Intern - Fox News Channel<br>
          	Web Developer - StylingOn.com</h2><br>
          <br>
  		</div>
  		<hr>
  		<div class = "grid_col-12">
  			<h2 id = "small">Anastasia Kolovani</h2>
  		</div>
  	</div>
</body>
</html>
